In [11]:
import fairlearn
import sklearn
import pandas as pd

In [12]:
# load conpas data and view columns
compas_df = pd.read_csv("compas.csv")
compas_df.columns.to_list()

['id',
 'first',
 'last',
 'compas_person_id',
 'compas_case_id',
 'compas_assessment_id',
 'agency_text',
 'scale_set',
 'assessment_reason',
 'legal_status',
 'custody_status',
 'marital_status',
 'screening_date',
 'rec_supervision_level',
 'rec_supervision_level_text',
 'score_text',
 'scale_id',
 'type_of_assessment',
 'raw_score',
 'decile_score',
 'person_id']

In [13]:
#view first rows
pd.set_option('display.max_columns', None)
compas_df.head()

,id,first,last,compas_person_id,compas_case_id,compas_assessment_id,agency_text,scale_set,assessment_reason,legal_status,custody_status,marital_status,screening_date,rec_supervision_level,rec_supervision_level_text,score_text,scale_id,type_of_assessment,raw_score,decile_score,person_id
0,1,miguel,hernandez,56418,58393,64352,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2013-08-14 00:00:00.000000,1,Low,Low,7,Risk of Violence,-4.31,1,1
1,2,miguel,hernandez,56418,58393,64352,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2013-08-14 00:00:00.000000,1,Low,Low,8,Risk of Recidivism,-2.78,1,1
2,3,miguel,hernandez,56418,58393,64352,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2013-08-14 00:00:00.000000,1,Low,Low,18,Risk of Failure to Appear,13.00,1,1
3,4,michael,ryan,68603,72042,79669,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2014-12-31 00:00:00.000000,1,Low,Low,7,Risk of Violence,-2.75,2,2
4,5,michael,ryan,68603,72042,79669,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2014-12-31 00:00:00.000000,1,Low,Medium,8,Risk of Recidivism,-0.34,5,2

In [14]:
#filter to recidivism only
compas_rec_df = compas_df[compas_df['type_of_assessment'] == "Risk of Recidivism"]
compas_rec_df

,id,first,last,compas_person_id,compas_case_id,compas_assessment_id,agency_text,scale_set,assessment_reason,legal_status,custody_status,marital_status,screening_date,rec_supervision_level,rec_supervision_level_text,score_text,scale_id,type_of_assessment,raw_score,decile_score,person_id
1,2,miguel,hernandez,56418,58393,64352,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2013-08-14 00:00:00.000000,1,Low,Low,8,Risk of Recidivism,-2.78,1,1
4,5,michael,ryan,68603,72042,79669,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2014-12-31 00:00:00.000000,1,Low,Medium,8,Risk of Recidivism,-0.34,5,2
7,8,kevon,dixon,51601,52796,58102,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2013-01-27 00:00:00.000000,1,Low,Low,8,Risk of Recidivism,-0.76,3,3
10,11,ed,philo,38864,55421,61042,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2013-04-14 00:00:00.000000,1,Low,Low,8,Risk of Recidivism,-0.66,4,4
13,14,marcu,brown,51158,52317,57580,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2013-01-13 00:00:00.000000,3,Medium with Override Consideration,High,8,Risk of Recidivism,0.16,8,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37564,37565,patrick,hamilton,57468,59576,65683,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Separated,2013-09-22 00:00:00.000000,1,Low,Low,8,Risk of Recidivism,-0.86,3,11753
37567,37568,raymond,hernandez,54876,56621,62390,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2013-05-17 00:00:00.000000,2,Medium,Medium,8,Risk of Recidivism,-0.10,7,11754
37570,37571,dieuseul,pierre-gilles,66781,70065,77398,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2014-10-08 00:00:00.000000,1,Low,Low,8,Risk of Recidivism,-0.73,4,11755
37573,37574,scott,lomagistro,58912,61149,68019,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Pretrial Defendant,Single,2013-12-03 00:00:00.000000,1,Low,Low,8,Risk of Recidivism,-0.87,3,11756
37576,37577,chin,yan,60333,62760,69230,PRETRIAL,Risk and Prescreen,Intake,Pretrial,Jail Inmate,Single,2014-01-11 00:00:00.000000,1,Low,Low,8,Risk of Recidivism,-1.50,1,11757

In [15]:
#load person data
person_df = pd.read_csv("person.csv")
#view first rows
pd.set_option('display.max_columns', None)
person_df

,id,name,first,last,sex,race,dob,age,age_cat,juv_fel_count,juv_misd_count,juv_other_count,compas_screening_date,decile_score,score_text,violent_recid,priors_count,days_b_screening_arrest,c_jail_in,c_jail_out,c_case_number,c_days_from_compas,c_arrest_date,c_offense_date,c_charge_degree,c_charge_desc,is_recid,num_r_cases,r_case_number,r_charge_degree,r_days_from_arrest,r_offense_date,r_charge_desc,r_jail_in,r_jail_out,is_violent_recid,num_vr_cases,vr_case_number,vr_charge_degree,vr_offense_date,vr_charge_desc
0,1,miguel hernandez,miguel,hernandez,Male,Other,1947-04-18 00:00:00.000000,69,Greater than 45,0,0,0,2013-08-14 00:00:00.000000,1,NaN,NaN,0,-1.0,2013-08-13 06:03:42,2013-08-14 05:41:20,13011352CF10A,1.0,NaN,2013-08-13 00:00:00.000000,(F3),Aggravated Assault w/Firearm,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
1,2,michael ryan,michael,ryan,Male,Caucasian,1985-02-06 00:00:00.000000,31,25 - 45,0,0,0,2014-12-31 00:00:00.000000,5,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
2,3,kevon dixon,kevon,dixon,Male,African-American,1982-01-22 00:00:00.000000,34,25 - 45,0,0,0,2013-01-27 00:00:00.000000,3,NaN,NaN,0,-1.0,2013-01-26 03:45:27,2013-02-05 05:36:53,13001275CF10A,1.0,NaN,2013-01-26 00:00:00.000000,(F3),Felony Battery w/Prior Convict,1,3.0,13009779CF10A,(F3),NaN,2013-07-05 00:00:00.000000,Felony Battery (Dom Strang),NaN,NaN,1,NaN,13009779CF10A,(F3),2013-07-05 00:00:00.000000,Felony Battery (Dom Strang)
3,4,ed philo,ed,philo,Male,African-American,1991-05-14 00:00:00.000000,24,Less than 25,0,0,1,2013-04-14 00:00:00.000000,4,NaN,NaN,4,-1.0,2013-04-13 04:58:34,2013-04-14 07:02:04,13005330CF10A,1.0,NaN,2013-04-13 00:00:00.000000,(F3),Possession of Cocaine,1,1.0,13011511MM10A,(M1),0.0,2013-06-16 00:00:00.000000,Driving Under The Influence,2013-06-16 09:05:47.000000,2013-06-16 07:18:55.000000,0,NaN,NaN,NaN,NaN,NaN
4,5,marcu brown,marcu,brown,Male,African-American,1993-01-21 00:00:00.000000,23,Less than 25,0,1,0,2013-01-13 00:00:00.000000,8,NaN,NaN,1,NaN,NaN,NaN,13000570CF10A,1.0,NaN,2013-01-12 00:00:00.000000,(F3),Possession of Cannabis,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11752,11753,patrick hamilton,patrick,hamilton,Male,Other,1968-05-02 00:00:00.000000,47,Greater than 45,0,0,0,2013-09-22 00:00:00.000000,3,NaN,NaN,1,-1.0,2013-09-21 04:06:00,2013-09-22 08:16:13,13013317CF10A,1.0,NaN,2013-09-21 00:00:00.000000,(F3),Burglary Structure Unoccup,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
11753,11754,raymond hernandez,raymond,hernandez,Male,Caucasian,1993-06-24 00:00:00.000000,22,Less than 25,0,3,5,2013-05-17 00:00:00.000000,7,NaN,NaN,3,-1.0,2013-05-16 08:58:35,2013-05-18 07:59:30,13009569MM10A,1.0,NaN,2013-05-16 00:00:00.000000,(M1),Battery,1,2.0,14086081TC30A,(M2),NaN,2014-10-11 00:00:00.000000,Driving License Suspended,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
11754,11755,dieuseul pierre-gilles,dieuseul,pierre-gilles,Male,Other,1981-01-24 00:00:00.000000,35,25 - 45,0,0,0,2014-10-08 00:00:00.000000,4,NaN,NaN,0,NaN,NaN,NaN,14014708MM10A,1.0,NaN,2014-10-07 00:00:00.000000,(M1),Battery,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
11755,11756,scott lomagistro,scott,lomagistro,Male,Caucasian,1986-12-04 00:00:00.000000,29,25 - 45,0,0,0,2013-12-03 00:00:00.000000,3,NaN,NaN,2,-196.0,2013-05-21 03:12:58,2013-05-22 09:04:20,12018116MM10A,196.0,2013-05-21 00:00:00.000000,NaN,(M1),arrest case no charge,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
11756,11757,chin yan,chin,yan,Male,Asian,1982-02-19 00:00:00.000000,34,25 - 45,0,0,0,2014-01-11 00:00:00.000000,1,NaN,NaN,0,-1.0,2014-01-10 06:49:02,2014-01-11 01:45:55,14000455CF10A,1.0,NaN,2014-01-10 00:00:00.000000,(F3),Grand Theft in the 3rd Degree,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN

In [16]:
# create a df to test fairness of predictions
fairness_test_df = person_df[['race', 'decile_score', 'is_recid']]

#filter out rows with unknown recidivism
fairness_test_df = fairness_test_df[fairness_test_df['is_recid'] != -1]

In [17]:
#function to set recidivism prediction based on compas decile score
# 1-5 = not recidivate coded as 0
# 6-10 = recidivate coded as 1

def compas_pred(decile_score):
    if 0 <= decile_score <= 5:
        return 0
    else:
        return 1

In [18]:
#apply function
fairness_test_df['compas_pred'] = fairness_test_df.apply(lambda x: compas_pred(x['decile_score']), axis=1)

#drop decile score
fairness_test_df = fairness_test_df.drop('decile_score', axis=1)

#view dataframe
fairness_test_df.head()

               race  is_recid  compas_pred
0             Other         0            0
2  African-American         1            0
3  African-American         1            0
4  African-American         0            1
5             Other         0            0

# Fairlearn

In [20]:
#import fairlearn fairness assessment libraries

from fairlearn.metrics import MetricFrame
from fairlearn.metrics import count, false_positive_rate, true_positive_rate, equalized_odds_difference

y_true = fairness_test_df['is_recid']
y_pred = fairness_test_df['compas_pred']
sf_data = fairness_test_df['race']

#common metrics
metrics = {
    'fpr' : false_positive_rate,
    'tpr' : true_positive_rate,
    'count' : count
}

metric_frame = MetricFrame(
    metrics=metrics,
    y_true = y_true,
    y_pred = y_pred,
    sensitive_features = sf_data
)


#equalised odds
eq_odds = equalized_odds_difference(y_true, y_pred,sensitive_features=sf_data)

In [23]:
metric_frame.by_group

                       fpr   count
race
African-American  0.400782  5501.0
Asian             0.071429    53.0
Caucasian         0.179919  3818.0
Hispanic          0.159091  1009.0
Native American   0.217391    36.0
Other             0.109208   621.0

0.5224775224775225

In [ ]:
#plots
metric_frame.by_group.plot.bar(
    subplots=True,
    layout=[3, 3],
    legend=False,
    figsize=[12, 8],
    title="Show all metrics",
)

# Customize plots with ylim
metric_frame.by_group.plot(
    kind="bar",
    ylim=[0, 1],
    subplots=True,
    layout=[3, 3],
    legend=False,
    figsize=[12, 8],
    title="Show all metrics with assigned y-axis range",
)

# Customize plots with colormap
metric_frame.by_group.plot(
    kind="bar",
    subplots=True,
    layout=[3, 3],
    legend=False,
    figsize=[12, 8],
    colormap="Accent",
    title="Show all metrics in Accent colormap",
)

# Customize plots with kind (note that we are only plotting the "count" metric here because we are showing a pie chart)
metric_frame.by_group[["count"]].plot(
    kind="pie",
    subplots=True,
    layout=[1, 1],
    legend=False,
    figsize=[12, 8],
    title="Show count metric in pie chart",
)

# Saving plots
fig = metric_frame.by_group[["count"]].plot(
    kind="pie",
    subplots=True,
    layout=[1, 1],
    legend=False,
    figsize=[12, 8],
    title="Show count metric in pie chart",
)
fig[0][0].figure.savefig("filename.png")

# AI Fairness 360